*{
    padding: 0;
    margin: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

body{
    background-color: lightsteelblue;
}
section{
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
section div img{
    border-radius: 15px ;
}
.imagecontainer{
    width: 200px;
    height: auto;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.imagecontainer img{
    width: 100%;
    height: 100%;
}

.imagecontainer :nth-child(2){
    padding: 10px;
    font-size: 18px;
    font-family: "outfit", sans-serif;
    padding-bottom: 5px;
}
.imagecontainer :nth-child(3){
    padding: 10px;
    font-family: "outfit", sans-serif;
    font-size: 15px;
    color: gray;
}

@media screen and (max-width: 180px){
    .imagecontainer :nth-child(2){
        font-size: 13px;
    }
    .imagecontainer :nth-child(3){
        font-size: 11px;
    }
}
    

    
